<h2>Liste des mots</h2>
<div class="col-1">
  <app-icon-button name="arrow-thick-left" (click)="this.location.back()"></app-icon-button>
</div>
<ul class="words">
  <li *ngFor="let word of words">
    <div class="row">
      <p class="word">{{word._fileName}}</p>
      <div class="img-container" *ngIf="word._hasImage">
        <app-word-img [name]="word.completeFileName"></app-word-img>
      </div>
      <div *ngIf="!word._hasImage">
        <app-image-uploader [entity]="word"></app-image-uploader>
      </div>
    </div>
  </li>
</ul>