<div *ngIf="currentConfig; else elseBlock" class="container">
  <div class="row no-gutters word-row">
    <div class="col-1">
      <div class="text-center" *ngIf="currentChild">
        <app-rounded-img [name]="currentChild._imageUrl"></app-rounded-img>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <app-icon-button name="arrow-thick-left" (click)="this.location.back()"></app-icon-button>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <div class="text-center">
        <app-word-img *ngIf="currentWord" [name]="currentWord.completeFileName" [word]="currentWord">
        </app-word-img>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <app-icon-button name="grid-two-up"></app-icon-button>
    </div>
    <div class="col-1">
      <app-icon-button name="random" (click)="setRandomCurrentWord()"></app-icon-button>
    </div>
    <div class="col-2">
      <app-reveal-button [word]="currentWord"></app-reveal-button>
    </div>
  </div>
  <div *ngIf="currentConfig; else elseBlockBis">
    <app-word *ngIf="currentWord" [word]="currentWord" [config]="currentConfig"></app-word>
  </div>
  <ng-template #elseBlockBis>
    <p>Loading...</p>
  </ng-template>
  <div *ngFor="let row of [0, 1, 2]" class="row no-gutters grapheme-row justify-content-center">
    <div *ngFor="let grapheme of graphemeRow(row)" class="col-1 box">
      <app-board-grapheme class="in-box" [grapheme]="grapheme" [config]="currentConfig"></app-board-grapheme>
    </div>
  </div>
  <div *ngIf="currentConfig && !currentConfig.areComplexGraphemesDisplayed && currentConfig.areComplexGraphemesGrouped"
    class="text-center row-margin-top" class="text-center word-row">
    <app-icon-button name="arrow-thick-{{boardArrowOrientation}}" text=" {{boardButtonText}}"
      (click)="toggleBoardGraphemes()"></app-icon-button>
  </div>
</div>
<ng-template #elseBlock>
  <p>Loading...</p>
</ng-template>