<div class="container">
  <div class="row no-gutters word-row">
    <div class="col-1">
      <div class="text-center">
        <app-rounded-img [name]="currentChild"></app-rounded-img>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <app-icon-button name="arrow-thick-left" (click)="this.location.back()"></app-icon-button>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <div class="text-center">
        <app-word-img *ngIf="currentWord" [name]="currentWord.fileName" [word]="currentWord">
        </app-word-img>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <app-icon-button name="grid-two-up"></app-icon-button>
    </div>
    <div class="col-1">
      <app-icon-button name="random" (click)="setRandomCurrentWord()"></app-icon-button>
    </div>
    <div class="col-2">
      <app-reveal-button></app-reveal-button>
    </div>
  </div>
  <app-word *ngIf="currentWord" [word]="currentWord"></app-word>
  <div *ngFor="let row of [0, 1, 2]" class="row no-gutters grapheme-row justify-content-center">
    <div *ngFor="let grapheme of graphemeRow(row)" class="col-1 box">
      <app-board-grapheme class="in-box" [grapheme]="grapheme"></app-board-grapheme>
    </div>
  </div>
  <div class="text-center word-row">
    <app-icon-button name="arrow-thick-{{boardArrowOrientation}}" text=" {{boardButtonText}}"
      (click)="toggleBoardGraphemes()"></app-icon-button>
  </div>
</div>